<div class="flex justify-end mb-3">
    <button nz-button nzType="primary" (click)="addRoommate()"><i nz-icon nzType="plus" nzTheme="outline"></i>
        Add new
    </button>
</div>

<nz-table #table [nzData]="roommateList">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Active</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of table.data">
            <td>{{ data.id }}</td>
            <td>{{ data.name }}</td>
            <td>{{ data.isActive }}</td>
            <td>
                <a nz-button nzType="link" (click)="editRoommate(data)">Edit</a>
                <a nz-button nzType="link" nzDanger nz-popconfirm
                    nzPopconfirmTitle="Are you sure remove {{ data.name }}?"
                    (nzOnConfirm)="removeRoommate(data)">Delete</a>
            </td>
        </tr>
    </tbody>
</nz-table>